# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
# *.lib

# Executables
# *.exe
*.out
*.app
\#innerProjs/hiGLEW/res/test.stl
\#innerProjs/hiGLEW/res/test_loe.stl
\#innerProjs/hiGLEW/res/test.stl
